/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.App {
  background-image: url('../../static/img/universe.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
